.composition{
    position: relative;
    &__photo{
        width: 56%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        transition:all .3s;
        &--p1{
            left: 0;
            top: -2rem;
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }
        &:hover{
            outline: 1.2rem solid $color-primary;
            padding: 10px;
            transform: scale(1.1) translateY(-0.5rem);
            z-index: 1;
            transition: .3s;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        }

    }
    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}